.mainPageContainer {
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  height: 100vh;
}

.mainPageContentContainer {
  flex: 1;
  padding: 10px;
}

.loginPrompt {
  font-family: "Caveat", cursive;
  font-family: "Preahvihear", sans-serif;
  font-family: "Young Serif", serif;
  height: 100vh;
  text-align: center;
}
