.logoTitle {
  display: flex;
  color: #fdf5e6;
  align-items: center;
  justify-content: space-between;
  width: 66%;
}

#title {
  font-family: "Caveat", cursive;
  font-family: "Preahvihear", sans-serif;
  font-family: "Young Serif", serif;
}

.button {
  font-family: "Caveat", cursive;
  font-family: "Preahvihear", sans-serif;
  font-family: "Young Serif", serif;
}
