.mainPageContainer {
  display: flex;
}

.mainPageContentContainer {
  flex: 1;
}

#mealTypeHeading {
  text-align: center;

  font-family: "Caveat", cursive;
  font-family: "Preahvihear", sans-serif;
  font-family: "Young Serif", serif;
}

.mealTypeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
}
