.mainPageContainer {
  display: flex;
  overflow-y: auto;
  height: 100vh;
}

.mainPageContentContainer {
  flex: 1;
}

.sideBarNav {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 7vw;
}

.searchFormContainer {
  border: none;
}

.headings {
  font-family: "Caveat", cursive;
  font-family: "Preahvihear", sans-serif;
  font-family: "Young Serif", serif;
  padding-left: 10px;
}

.searchResultsGridContainer {
  overflow-y: auto;
  height: 100vh;
  max-height: calc(100vh - 100px);
  padding: 15px;
}
